//! colores para titulos
$color-principal: #04adbf;
$color-titulos: #04adbf;
$color-subtitulos: black;
$titulos-cards: #f24444;
$boton1: #04adbf;
$boton2: #f24452;

//! colores para fondos
$background-titulos: #f24452;
$background-gradiente: linear-gradient(to right, #261e14, black);
$background-cards: #0d6973;
$background-buttons: #f24452;
$background-buttons2: #04adbf;

//! colores de efectos
$hover: rgba(0, 0, 0, 0.2);
$hover2: #f24452;

//! tamaños de fuente
$font1: 15px;
$font2: 20px;
$font3: 30px;
$font4: 40px;
$font5: 50px;

//! borders
$border-cards: 1px solid black;
$border-botton1: 2px solid #04adbf;
$border-bottom2: 2px solid #f24452;
